{
  "extends": ["airbnb", "plugin:react-hooks/recommended", "prettier"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
      "sourceType": "module",
      "requireConfigFile": false,
      "ecmaVersion": 12
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "overrides": [
    { "files": ["*.jsx", "*.js"] }
  ],
  "plugins": ["react", "react-hooks", "simple-import-sort", "import", "prettier"],
  "rules": {
    "no-plusplus": 0,
    "no-console": 1,
    "no-unreachable": 2,
    "no-unused-vars": 2,
    "no-undef": 0,
    "no-use-before-define": 1,
    "no-extra-semi": 1,
    "no-restricted-syntax": "off",
    "no-unused-expressions":["error", { "allowShortCircuit": true }],
    "arrow-parens": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-space-before-closing": 0,
    "react/jsx-no-target-blank": 0,
    "react/jsx-tag-spacing": ["error", { "beforeSelfClosing": "always" }],
    "react/destructuring-assignment": 0,
    "react/function-component-definition": "off",
    "react/jsx-props-no-spreading": "off",
    "react-hooks/rules-of-hooks": "error",
    "jsx-a11y/no-static-element-interactions": 0,
    "prettier/prettier": ["warn", { "printWidth": 160, "arrowParens": "avoid" }], // To comply with .prettierrc
    "import/first": "error",
    "import/newline-after-import": "error",
    "import/no-duplicates": "error",
    "import/extensions": 0,
    "import/no-named-as-default": 0,
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": [2, {"commonjs": true, "amd": true, "caseSensitive": false}],
    "import/named": 2,
    "import/namespace": 2,
    "import/default": 2,
    "simple-import-sort/exports": "error",
    "simple-import-sort/imports": ["error", {
        // https://github.com/lydell/eslint-plugin-simple-import-sort#custom-grouping
        "groups": [
          // Side effect imports
          ["^\\u0000"],
          ["^react", "^redux", "^prop-types", "^styled-components", "^formik", "^yup", "^@mui", "^webextension-polyfill"],
          ["^(@|@pages|@components|@shared|@actions|@constants|@hooks|@reducers|@selectors|@services|@utils|@home)"],
          // Style imports
          ['^.+\.s?css$'],
          // Absolute imports and other imports such as Vue-style `@/foo`. Anything not matched in another group
          ["^[^.]"],
          // Other relative imports. Put same-folder imports and `.` last. Parent imports. Put `..` last
          ["^\\./(?=.*/)(?!/?$)", "^\\.(?!/?$)", "^\\./?$", "^\\.\\.(?!/?$)", "^\\.\\./?$"],
        ]
      }
    ]
  },
  "globals": {
    "jest": false
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      },
      "babel-module": {
        "alias": {
          "@": "./src",
          "@background": "./src/background",
          "@browsers": "./src/shared/browsers",
          "@content": "./src/content",
          "@popup": "./src/popup",
          "@actions": "./src/shared/actions",
          "@constants": "./src/shared/constants",
          "@hooks": "./src/shared/hooks",
          "@selectors": "./src/shared/selectors",
          "@services": "./src/shared/services",
          "@utils": "./src/shared/utils"
        }
      }
    },
    "import/order": [
      "error",
      {
        "groups": ["builtin", "external", "internal"],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["react"],
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}

