:root {
  --highlight-color-pink: rgb(246 155 241 / 80%);
  --highlight-color-orange: rgb(255 193 115 / 80%);
  --highlight-color-yellow: rgb(255, 224, 0, 0.76);
  --highlight-color-green: rgb(187 229 95 / 80%);
  --highlight-color-blue: rgb(176 219 227 / 80%);
  --highlight-color-purple: rgb(200 178 234 / 80%);

  --font-size-small: 13.5px;
  --font-size-medium: 15px;
  --font-size-large: 15.6px;

  --line-height-small: 19.5px;
  --line-height-medium: 20.2px;
  --line-height-large: 21.5px;
}

.HIGHLIGHTER_ORG_WORD_CLASS {
  color: black !important;
  border: 0px !important;
  border-radius: 3px !important;
  cursor: default !important;
}

.HIGHLIGHTER_BG_COLOR_CLASS_PINK {
  background-color: var(--highlight-color-pink) !important;
}

.HIGHLIGHTER_BG_COLOR_CLASS_ORANGE {
  background-color: var(--highlight-color-orange) !important;
}

.HIGHLIGHTER_BG_COLOR_CLASS_YELLOW {
  background-color: var(--highlight-color-yellow) !important;
}

.HIGHLIGHTER_BG_COLOR_CLASS_GREEN {
  background-color: var(--highlight-color-green) !important;
}

.HIGHLIGHTER_BG_COLOR_CLASS_BLUE {
  background-color: var(--highlight-color-blue) !important;
}

.HIGHLIGHTER_BG_COLOR_CLASS_PURPLE {
  background-color: var(--highlight-color-purple) !important;
}

/* .HIGHLIGHTER_CLASS:focus > .HIGHLIGHTER_DETAIL_CLASS { */
/*   visibility: visible !important; */
/* } */

/* .HIGHLIGHTER_CLASS:hover > .HIGHLIGHTER_DETAIL_CLASS { */
/*   visibility: visible !important; */
/* } */

.HIGHLIGHTER_DETAIL_CLASS {
  position: absolute !important;
  min-width: 100px !important;
  max-width: 400px !important;
  color: rgb(239, 239, 239) !important;
  background-color: rgba(66, 66, 66, 0.93) !important;
  border: 0px !important;
  border-radius: 5px !important;
  padding: 9px !important;
  z-index: 2147483647 !important;
  box-shadow: 3px 12px 15px rgb(109 117 141 / 32%) !important;
}

.HIGHLIGHTER_DETAIL_HIDDEN_CLASS {
  display: none;
}

.HIGHLIGHTER_DETAIL_CLASS > *:not(:last-child) {
  margin: 0 0 6px 0 !important;
}

.HIGHLIGHTER_TARGET_WORD_CLASS,
.HIGHLIGHTER_DETAIL_ITEM_CLASS {
  font-weight: 400 !important;
  font-style: normal !important;
  font-family: 'Roboto' !important;
  text-transform: none !important;
  word-wrap: break-word !important;
}

.HIGHLIGHTER_TARGET_WORD_CLASS.HIGHLIGHTER_FONT_SIZE_CLASS_SMALL,
.HIGHLIGHTER_DETAIL_ITEM_CLASS.HIGHLIGHTER_FONT_SIZE_CLASS_SMALL {
  line-height: var(--line-height-small) !important;
  font-size: var(--font-size-small) !important;
}

.HIGHLIGHTER_TARGET_WORD_CLASS.HIGHLIGHTER_FONT_SIZE_CLASS_MEDIUM,
.HIGHLIGHTER_DETAIL_ITEM_CLASS.HIGHLIGHTER_FONT_SIZE_CLASS_MEDIUM {
  line-height: var(--line-height-medium) !important;
  font-size: var(--font-size-medium) !important;
}

.HIGHLIGHTER_TARGET_WORD_CLASS.HIGHLIGHTER_FONT_SIZE_CLASS_LARGE,
.HIGHLIGHTER_DETAIL_ITEM_CLASS.HIGHLIGHTER_FONT_SIZE_CLASS_LARGE {
  line-height: var(--line-height-large) !important;
  font-size: var(--font-size-large) !important;
}

.HIGHLIGHTER_TARGET_WORD_CLASS {
  font-weight: 800 !important;
  text-transform: capitalize !important;
}

.HIGHLIGHTER_POS_CLASS {
  margin-right: 6px !important;
}

.HIGHLIGHTER_ICON_CLASS {
  margin: -5px 0 -5px 12px !important;
  line-height: 0px !important;
  cursor: pointer !important;
  text-decoration: none !important;
}

img.HIGHLIGHTER_COLLECTED {
  filter: invert(82%) sepia(47%) saturate(2207%) hue-rotate(356deg) brightness(102%) contrast(107%);
}

img.HIGHLIGHTER_NOT_COLLECTED {
  filter: invert(94%);
}
